
<h2>Available Jobs</h2>
<%= @jobs.each do |job| %>
	Origin: <%= job.origin %>
	Destination: <%= job.destination %>
	Containers Left To Move: <%= job.containers_needed %>
	Pay: <%= job.cost %>
	Description: <%= job.description %>
<% end %>